header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  /* min-width: 100%; */
}

.logo {
  font-size: 2.25rem;
  font-weight: bold;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  /* margin: 1rem; */
}

.navLink {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
}

.active {
  background-color: beige;
}
